<% if target.errors.any? %>  
	<body>	
		<div id="errorExplanation">  
			<h2><font color="red">Please correct <%= pluralize(target.errors.count, "error") %> to create or modify the Comment :</font></h2>  
			<% target.errors.full_messages.each do |msg| %> 
				<font color="red"><%= msg %></font><br> 
			<% end %>  
		</div>
	</body> 
<% end %>  
