<div class="bordure-left"></div>
<div class="bordure-right"></div>
<div class="Header">
	<h1>Modification du Commentaire n°<%=@comment.id%></h1>
</div>

<div>
	<p>
   <%= form_tag(post_comment_path(@comment.post, @comment), :method => "put") do %>
			<p><div class ="field">
			 	<br><label for="title">Auteur : </label>
			 	<br><input type="text" id="author" name="author" cols="40" value="<%=@comment.author%>" />
			</div></p>
			<div class ="field">
				<br><label for="body">Contenu : </label>
				<br><textarea name="body" id="body" rows="3" cols="40"><%=@comment.body%></textarea>
			</div>
			<div class ="actions">
				<br><br><input type="submit" name="ValidateComment" value="Valider"><br>
			</div>
	<% end %>	
	</p>
</div>
