<!-- Page de création d'un Post : /posts/new !-->

<div class="bordure-left"></div>
<div class="bordure-right"></div>
<div class="Header">
	<h1>Ajout d'un commentaire</h1>
</div>

<%= render 'form' %>

<!-- /posts/:post_id/comments/ -->
<br><%= button_to 'Retour', show_path(@comment.post), :method => 'get' %>
