<!-- Page de création d'un Post : /posts/new !-->

<div class="bordure-left"></div>
<div class="bordure-right"></div>
<div class="Header">
	<h1>Creating a new Comment</h1>
</div>

<%= render "error_messages", :target => @comment %>  
<%= render 'form' %>

<br><%= button_to 'Back', show_path(@comment.post), :method => 'get' %>
