<!--Page Principal du blog => /posts !-->

<h2>
	<font color="blue"> Affichage de la liste des Posts</font>
</h2>
 
<ul>
	<% @posts.each do |p| %>
		---------------------------------------------------------------
		<li>
			<%= link_to p.title, show_path(p.id)%> <br>
				<br><%= button_to "Modifier", receive_path(p.id), :method => :receive %>&nbsp &nbsp
				<%= button_to "Supprimer", delete_path(p.id), :id => p.id, :confirm => 'Etes-vous sûr de vouloir supprimer le Post ?', :method => :delete %>
		</li>
	<% end %>
</ul>

&nbsp &nbsp &nbsp &nbsp ---------------------------------------------------------------

<br><%= button_to "Ajouter un nouveau post", new_path, :method => 'get' %>

